@page
@model barberShop.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Bejelentkezés";
}

<div class="container py-4">
    <div class="row gap-3">
        <a asp-page="/Account/Login" asp-route-section="bejelentkezes" class="valaszto btn @(Model.Section == "bejelentkezes" ? "aktiv" : "inaktiv")" id="valaszto1">
            <h3> Bejelentkezés</h3>
        </a>

        <a asp-page="/Account/Login" asp-route-section="regisztracio" class="valaszto btn @(Model.Section=="regisztracio" ? "aktiv" : "inaktiv")" id="valaszto2">
            <h3> Regisztrálás</h3>
        </a>
    </div>
   
    
    @if (Model.Section == "bejelentkezes")
    {
        <div class="row">
            <div class="col-md-5">
                <form method="post">
                   
                    <div asp-validation-summary="All" class="text-danger mb-3"> </div>

                    <div class="mt-3">
                        <label asp-for="Input.EmailAddress" class="form-label ezustFont">E-mail</label>
                        <input asp-for="Input.EmailAddress" class="form-control" type="email" />
                        <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <label asp-for="Input.Password" class="form-label ezustFont">Jelszó</label>
                        <input asp-for="Input.Password" class="form-control" type="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="mt-3 form-check">
                        <input asp-for="Input.RememberMe" class="form-check-input" />
                        <label asp-for="Input.RememberMe" class="form-check-label ezustFont">emlékezz rám</label>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary egyGomb">Belépés</button>
                        <a asp-page="/Index" asp-route-section="szolgaltatasok" class="btn btn-outline-secondary">Mégse</a>
                    </div>
                    
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-5">
                <form method="post" asp-page-handler="Regisztracio">
                   
                    <div class="mt-3">
                        <label class="form-label ezustFont">E-mail cím</label>
                        <input class="form-control" />
                    </div>

                    <div class="mt-3">
                        <label class="form-label ezustFont">Jelszó</label>
                        <input class="form-control" />
                    </div>

                    <div class="mt-3">
                        <label class="form-label ezustFont">Név</label>
                        <input class="form-control" />
                    </div>

                    <div class="mt-3">
                        <label class="form-label ezustFont">Telefonszám</label>
                        <input class="form-control" />
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary egyGomb">Regisztráció</button>
                        <a asp-page="/Index" asp-route-section="szolgaltatasok" class="btn btn-outline-secondary">Mégse</a>
                    </div>
                </form>
            </div>
        </div>

    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .valaszto{
        height: fit-content;
        width: fit-content;
        padding: 10px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-top-color 0.3s ease-in, color 0.3s ease-in;
    }

    .aktiv {
        border-top: solid 1px #D4AF37;
        color:white;
    }

    .inaktiv {
        border-top: solid 1px gray;
        color: gray;
    }

    .ezustFont {
        color: #eeeeee;
    }

    .aranyFont {
        width: fit-content;
        background: linear-gradient( 90deg, #a47e1b 0%, #b69121 8%, #c9a227 16%, #dbb42c 24%, #9a7009 32%, #edc531 40%, #a47e1b 48%, #b69121 56%, #c9a227 64%, #dbb42c 72%, #9a7009 80%, #edc531 88%, #a47e1b 100% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .vilagosBarna {
        background: rgba(245, 238, 225, 0.9);
        background: transparent;
    }

    .egyszolgaltatas {
        border-radius: 20px;
        border-top: 4px solid #bfa27a;
        border-bottom: 4px solid #bfa27a;
        border-top: 4px solid #D4AF37;
        border-bottom: 4px solid #D4AF37;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8px);
    }

    .egyGomb {
        background: #bfa27a;
        background: black;
        color: #D4AF37;
        border: solid 0.5px #D4AF37;
        transition: transform 0.5s ease;
    }

        .egyGomb:hover {
            background: black;
            color: #D4AF37;
            border: solid 0.5px #D4AF37;
            transform: scale(1.08);
        }

    .feherBorder {
        border: solid 2px white;
    }

    .szoveg_3d {
        /*color: #1a1a1a;*/
        font-weight: 700;
        letter-spacing: 0.05em;
    }

    .szolg-kartya {
        transform-origin: center;
        opacity: 0;
        animation: szetnyilik 0.9s ease-out forwards;
    }

    @@keyframes szetnyilik {
        from {
            transform: scaleX(0);
            opacity: 0;
        }

        to {
            transform: scaleX(1);
            opacity: 1;
        }
    }

</style>
            
 