@page
@model barberShop.Pages.Account.MugliFeluletModel
@{
    ViewData["Title"] = "Felhasználói felület";
}

<div class="container py-4">
    <p>
        <div class="btn">kijelentkezés</div>
    </p>
    <div class="">

    </div>
</div>