@page
@model barberShop.Pages.Account.MugliFeluletModel
@{
    ViewData["Title"] = "Felhasználói felület";
}

<div class="container py-4">
    <p>
        <a asp-page="/Account/Login" class="px-4 btn aranyFont egyGomb"></a>
    </p>
    <div class="">

    </div>
</div>
<style>
    .ezustFont {
        color: #eeeeee;
    }

    .aranyFont {
        width: fit-content;
        background: linear-gradient( 90deg, #a47e1b 0%, #b69121 8%, #c9a227 16%, #dbb42c 24%, #9a7009 32%, #edc531 40%, #a47e1b 48%, #b69121 56%, #c9a227 64%, #dbb42c 72%, #9a7009 80%, #edc531 88%, #a47e1b 100% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .vilagosBarna {
        background: rgba(245, 238, 225, 0.9);
        background: transparent;
    }

    .egyszolgaltatas {
        border-radius: 20px;
        border-top: 4px solid #bfa27a;
        border-bottom: 4px solid #bfa27a;
        border-top: 4px solid #D4AF37;
        border-bottom: 4px solid #D4AF37;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8px);
        overflow: auto;
    }

    .egyGomb {
        background: #bfa27a;
        background: black;
        color: #D4AF37;
        border: solid 0.5px #D4AF37;
        transition: transform 0.5s ease;
    }

        .egyGomb:hover {
            background: black;
            color: #D4AF37;
            border: solid 0.5px #D4AF37;
            transform: scale(1.08);
        }

    .dangerGomb {
        color: darkorange;
        border: solid 1px darkorange;
    }

        .dangerGomb:hover {
            color: darkorange;
            border: solid 1px darkorange;
            transform: scale(1.08);
        }
</style>