@page
@model barberShop.Pages.Account.RegistryModel
@{
}

<div class="container py-4">
    <div class="row gap-3">
        <a asp-page="/Account/Login" asp-route-section="bejelentkezes" class="valaszto btn inaktiv" id="valaszto1">
            <h3> Bejelentkezés</h3>
        </a>

        <a asp-page="/Account/Registry" class="valaszto btn aktiv" id="valaszto2">
            <h3> Regisztrálás</h3>
        </a>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mb-3">@TempData["SuccessMessage"]</div>
    }
    <div class="row urlap">
        <form method="post" asp-page-handler="Regisztracio">
            <div asp-validation-summary="All" class="text-danger mb-3"></div>
            <div class="mt-3 col-md-4">
                <label class="form-label ezustFont">E-mail cím</label>
                <input class="form-control" asp-for="RegEmail" />
            </div>

            <div class="mt-3 col-md-4">
                <label class="form-label ezustFont">Jelszó</label>
                <input class="form-control" type="password" asp-for="RegPassword" />
            </div>

            <div class="mt-3 col-md-4">
                <label class="form-label ezustFont">Név</label>
                <input class="form-control" asp-for="RegNev" />
            </div>

            <div class="mt-3 col-md-4">
                <label class="form-label ezustFont">Telefonszám</label>
                <input class="form-control" asp-for="RegTelo" />
            </div>
            <div class="mt-3 col-md-4">
                <button type="submit" class="btn btn-primary egyGomb">Regisztráció</button>
                <a asp-page="/Index" asp-route-section="szolgaltatasok" class="btn btn-outline-secondary">Mégse</a>
            </div>
        </form>
    </div>
</div>
<style>
    .urlap{
        opacity:0;
        animation: formFade 0.5s ease-in forwards;
    }
    @@keyframes formFade{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .valaszto {
        height: fit-content;
        width: fit-content;
        padding: 10px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-top-color 0.3s ease-in, color 0.3s ease-in;
        border-radius: 0 !important;
    }

    .aktiv {
        border-top: solid 3px var(--accent-color);
        color: black;
    }
    .aktiv:hover {
        border-top: solid 3px var(--accent-color);
        color: black;
    }

    .inaktiv {
        border-top: solid 1px gray;
        color: gray;
    }
    .inaktiv:hover {
        border-top: solid 1px gray;
        color: gray;
    }
    .ezustFont {
        color: #eeeeee;
    }

   
</style>