@page
@model barberShop.Pages.KapcsolatModel
@{
    ViewData["Title"] = "Kapcsolat";
}
<div class="container py-4 privacyFont">
    <h1>Elérhetőségeink</h1>

    <p class="text-center">
        Keressen nyugodtan az alábbi elérhetőségek bármelyikén, ha problémába ütköztél az időpontfoglalás során vagy kérdésed lenne a szolgáltatásainkkal kapcsolatban!
    </p>
    <p>
        E-mail: <a href="mailto:zoneokaroly@gmail.com">bestbarbershop@gmail.com</a>
    </p>
    <p>
        Telefon: <a href="tel:+36307271233">+36 30 727 1234</a>
    </p>
</div>