@page
@model barberShop.Pages.TorlesiSzabModel
@{
    ViewData["Title"] = "Foglalási szabályzat ";
}
<div class="container py-4 privacyFont">
    <a asp-page="/Privacy" class="btn egyGomb px-4 mb-3">vissza</a></p>
    <h1>Foglalási szabályzat</h1>

    <div class="ps-4">
        <p class="mt-4">
            <h3>Foglalásod érvényes ha</h3>
            <ul>
                <li>E-mailben vissza igazoltuk.</li>
                <li>Fodrászunkkal, bizonyíthatóan megbeszélted.</li>
            </ul>
        </p>

        <p class="mt-2">
            <h3>Foglalásod törlése</h3>
            <span>Az időpontod lemondása legfeljebb két nappal az időpont bekövetkezte előtt kivitelezhető.</span>
            <ul>
                <li>ezt megteheted a profilodban az foglalásaid között</li>
                <li>vagy a kiválasztott fodrászoddal megbeszélve </li>
            </ul>
        </p>
    </div>
</div>